$white: #fff;
$green: rgb(0, 128, 0);
$orange: rgb(255, 165, 0);
$red: rgb(255, 0, 0);

.movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;

  .movie {
    width: 90%;
    cursor: pointer;
  }

  .mat-card {
    padding: 1rem 1rem 0;

    .vote {
      position: absolute;
      right: 10%;
      padding: 5px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $white;
    }

    .mat-card-title {
      width: 80%;
    }
  }

  .overview {
    background-color: $white;
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(50%);
    overflow-y: auto;
    transition: all 0.2s;
    opacity: 0;
  }

  .mat-card:hover .overview {
    transform: translateY(0);
    opacity: 1;
  }
}

.green {
  background-color: $green;
}

.orange {
  background-color: $orange;
}

.red {
  background-color: $red;
}
